In [158]:
import pandas as pd
from datetime import datetime as dt

In [159]:
df_ = pd.read_csv('./datasets/flo_data_20k.csv')

In [160]:
df = df_.copy()

In [161]:
################## PREPROCESSING $$$$$$$$$$$$$$$$$$

In [180]:
# Print the dataset from here after every single action
df.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_number_of_order,sum_of_customer_values
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4,1,139.99,799.38,[KADIN],5,939.37
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19,2,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21,2013.55
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3,2,189.97,395.35,"[ERKEK, KADIN]",5,585.32
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1,1,39.99,81.98,"[AKTIFCOCUK, COCUK]",2,121.97
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1,1,49.99,159.99,[AKTIFSPOR],2,209.98

In [163]:
# Floats to integer
df['order_num_total_ever_online'] = df['order_num_total_ever_online'].astype(int)
df['order_num_total_ever_offline'] = df['order_num_total_ever_offline'].astype(int)

In [166]:
# Strings to Date
df['first_order_date'] = pd.to_datetime(df['first_order_date'])
df['last_order_date'] = pd.to_datetime(df['last_order_date'])
df['last_order_date_online'] = pd.to_datetime(df['last_order_date_online'])
df['last_order_date_offline'] = pd.to_datetime(df['last_order_date_offline'])

In [168]:
# Check for null values
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [177]:
# Check the statistics of values of dataframe [Outliers]
df.describe().T

,count,mean,std,min,25%,50%,75%,max
order_num_total_ever_online,19945.0,3.110855,4.225647,1.00,1.00,2.00,4.00,200.00
order_num_total_ever_offline,19945.0,1.913913,2.062880,1.00,1.00,1.00,2.00,109.00
customer_value_total_ever_offline,19945.0,253.922597,301.532853,10.00,99.99,179.98,319.97,18119.14
customer_value_total_ever_online,19945.0,497.321690,832.601886,12.99,149.98,286.46,578.44,45220.13

In [178]:
# Sum of both online and offline purchases of each customer and number of purchases at both platforms included.
df['total_number_of_order'] = df['order_num_total_ever_online']+ df['order_num_total_ever_offline']
df['sum_of_customer_values'] = df['customer_value_total_ever_offline']+df['customer_value_total_ever_online']

In [53]:
# Total customer value and sum of the orders of each platform,
df.groupby('order_channel')[['total_number_of_order','sum_of_customer_values']].sum()

               total_number_of_order  sum_of_customer_values
order_channel
Android App                    52269              7819062.76
Desktop                        10920              1610321.46
Ios App                        15351              2525999.93
Mobile                         21679              3028183.16

In [63]:
# List top 10 customer which have the most customer value

df.sort_values(by=['sum_of_customer_values'],ascending=False).head(n=10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_number_of_order,sum_of_customer_values
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200,2,684.97,45220.13,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202,45905.10
4315,d5ef8058-a5c6-11e9-a2fc-000d3a38a36f,Android App,Android App,2018-08-06,2021-02-23,2021-02-23,2020-07-06,67,1,130.49,36687.80,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",68,36818.29
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,Ios App,Offline,2014-01-14,2021-05-18,2021-01-30,2021-05-18,81,1,1263.76,32654.34,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",82,33918.10
13880,7137a5c0-7aad-11ea-8f20-000d3a38a36f,Ios App,Offline,2021-03-01,2021-04-13,2021-03-18,2021-04-13,10,1,538.94,30688.47,"[ERKEK, KADIN, AKTIFSPOR]",11,31227.41
9055,47a642fe-975b-11eb-8c2a-000d3a38a36f,Android App,Offline,2021-04-07,2021-04-27,2021-04-07,2021-04-27,1,3,18119.14,2587.20,[AKTIFSPOR],4,20706.34
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,Desktop,Desktop,2020-02-16,2021-04-30,2021-04-30,2020-12-18,66,4,843.68,17599.89,"[ERKEK, KADIN, AKTIFSPOR]",70,18443.57
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,Ios App,Ios App,2017-05-10,2021-04-13,2021-04-13,2019-08-15,69,1,82.48,16836.09,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",70,16918.57
163,fef57ffa-aae6-11e9-a2fc-000d3a38a36f,Mobile,Desktop,2016-11-08,2021-05-12,2021-05-12,2020-07-09,36,1,180.73,12545.37,"[ERKEK, AKTIFSPOR]",37,12726.10
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,Android App,Android App,2013-02-21,2021-05-09,2021-05-09,2020-01-25,130,1,49.99,12232.25,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",131,12282.24
18767,fc0ce7a4-9d87-11e9-9897-000d3a38a36f,Desktop,Desktop,2018-11-24,2020-11-11,2020-11-11,2019-12-06,18,2,64.97,12038.18,"[ERKEK, KADIN]",20,12103.15

In [64]:
# List top 10 customer which have the most order 
df.sort_values(by=['total_number_of_order'],ascending=False).head(n=10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_number_of_order,sum_of_customer_values
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200,2,684.97,45220.13,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202,45905.10
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,Android App,Android App,2013-02-21,2021-05-09,2021-05-09,2020-01-25,130,1,49.99,12232.25,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",131,12282.24
8783,a57f4302-b1a8-11e9-89fa-000d3a38a36f,Android App,Offline,2019-08-07,2020-11-04,2020-09-07,2020-11-04,2,109,10239.46,143.98,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",111,10383.44
2619,fdbe8304-a7ab-11e9-a2fc-000d3a38a36f,Android App,Offline,2018-10-18,2020-06-30,2018-10-18,2020-06-30,1,87,8432.25,139.98,[ERKEK],88,8572.23
6322,329968c6-a0e2-11e9-a2fc-000d3a38a36f,Ios App,Ios App,2019-02-14,2021-04-05,2021-04-05,2020-02-17,2,81,3997.55,242.81,[ERKEK],83,4240.36
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,Ios App,Offline,2014-01-14,2021-05-18,2021-01-30,2021-05-18,81,1,1263.76,32654.34,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",82,33918.10
9347,44d032ee-a0d4-11e9-a2fc-000d3a38a36f,Mobile,Mobile,2019-02-11,2021-02-11,2021-02-11,2020-12-24,3,74,4640.77,543.28,"[KADIN, AKTIFSPOR]",77,5184.05
10954,b27e241a-a901-11e9-a2fc-000d3a38a36f,Mobile,Mobile,2015-09-12,2021-04-01,2021-04-01,2019-10-08,72,3,292.93,5004.95,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",75,5297.88
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,Ios App,Ios App,2017-05-10,2021-04-13,2021-04-13,2019-08-15,69,1,82.48,16836.09,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",70,16918.57
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,Desktop,Desktop,2020-02-16,2021-04-30,2021-04-30,2020-12-18,66,4,843.68,17599.89,"[ERKEK, KADIN, AKTIFSPOR]",70,18443.57

In [65]:
############# Calculations of RFM Metrics $$$$$$$$$$$$$$

In [84]:
# Creating current date variable to get recency value (It is  2 days after the last order)
df['last_order_date'].max()

# two days after code above
today_date= pd.to_datetime('2021-06-01')
today_date

Timestamp('2021-06-01 00:00:00')

In [181]:
# Creation of RFM Metrics
rfm = df.groupby('master_id').agg({
                            'last_order_date':lambda last_order_date:(today_date-last_order_date.max()).days,
                            'total_number_of_order':lambda total_number_of_order:total_number_of_order.sum(),
                            'sum_of_customer_values':lambda sum_of_customer_values: sum_of_customer_values.sum()
})

rfm = rfm.rename(columns={'last_order_date':'Recency','total_number_of_order':'Frequency','sum_of_customer_values':'Monetary'})
rfm

                                      Recency  Frequency  Monetary
master_id
00016786-2f5a-11ea-bb80-000d3a38a36f       10          5    776.07
00034aaa-a838-11e9-a2fc-000d3a38a36f      298          3    269.47
000be838-85df-11ea-a90b-000d3a38a36f      213          4    722.69
000c1fe2-a8b7-11ea-8479-000d3a38a36f       27          7    874.16
000f5e3e-9dde-11ea-80cd-000d3a38a36f       20          7   1620.33
...                                       ...        ...       ...
fff1db94-afd9-11ea-b736-000d3a38a36f      183          5    796.87
fff4736a-60a4-11ea-8dd8-000d3a38a36f       67          2    318.87
fffacd34-ae14-11e9-a2fc-000d3a38a36f      257          6    983.92
fffacecc-ddc3-11e9-a848-000d3a38a36f      132          9   1362.20
fffe4b30-18e0-11ea-9213-000d3a38a36f      321          4    524.69

[19945 rows x 3 columns]

In [187]:
############ Creation of RFM Scores and Total RF Score based on RFM Metrics $$$$$$$$$$$$$
rfm['recency_score'] = pd.qcut(rfm['Recency'],5,labels=[5,4,3,2,1])
rfm['frequency_score']= pd.qcut(rfm['Frequency'].rank(method='first'),5,labels=[1,2,3,4,5])
rfm['monetary _score']= pd.qcut(rfm['Monetary'],5,labels=[1,2,3,4,5])
rfm['RF Score'] =(rfm['recency_score'].astype(str) +
                                 rfm['frequency_score'].astype(str))
rfm

,Recency,Frequency,Monetary,recency_score,frequency_score,monetary _score,RF Score
master_id,,,,,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,10,5,776.07,5,4,4,54
00034aaa-a838-11e9-a2fc-000d3a38a36f,298,3,269.47,1,2,1,12
000be838-85df-11ea-a90b-000d3a38a36f,213,4,722.69,2,3,4,23
000c1fe2-a8b7-11ea-8479-000d3a38a36f,27,7,874.16,5,4,4,54
000f5e3e-9dde-11ea-80cd-000d3a38a36f,20,7,1620.33,5,4,5,54
...,...,...,...,...,...,...,...
fff1db94-afd9-11ea-b736-000d3a38a36f,183,5,796.87,2,4,4,24
fff4736a-60a4-11ea-8dd8-000d3a38a36f,67,2,318.87,4,2,2,42
fffacd34-ae14-11e9-a2fc-000d3a38a36f,257,6,983.92,1,4,4,14
fffacecc-ddc3-11e9-a848-000d3a38a36f,132,9,1362.20,3,5,5,35
fffe4b30-18e0-11ea-9213-000d3a38a36f,321,4,524.69,1,4,3,14

In [188]:
######### Segmentation based on RF Scores $$$$$$$$$$

In [189]:
seg_map = {
        r'[1-2][1-2]': 'hibernating',
        r'[1-2][3-4]': 'at_risk',
        r'[1-2]5': 'cant_loose',
        r'3[1-2]': 'about_to_sleep',
        r'33': 'need_attention',
        r'[3-4][4-5]': 'loyal_customers',
        r'41': 'promising',
        r'51': 'new_customers',
        r'[4-5][2-3]': 'potential_loyalists',
        r'5[4-5]': 'champions'
    }

In [190]:
rfm['Segment'] = rfm['RF Score'].replace(seg_map,regex=True)

In [98]:
rfm

,Recency,Frequency,Monetary,recency_score,frequency_score,monetary _score,RF Score,Segment
master_id,,,,,,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,10,5,776.07,5,4,4,54,champions
00034aaa-a838-11e9-a2fc-000d3a38a36f,298,3,269.47,1,2,1,12,hibernating
000be838-85df-11ea-a90b-000d3a38a36f,213,4,722.69,2,3,4,23,at_risk
000c1fe2-a8b7-11ea-8479-000d3a38a36f,27,7,874.16,5,4,4,54,champions
000f5e3e-9dde-11ea-80cd-000d3a38a36f,20,7,1620.33,5,4,5,54,champions
...,...,...,...,...,...,...,...,...
fff1db94-afd9-11ea-b736-000d3a38a36f,183,5,796.87,2,4,4,24,at_risk
fff4736a-60a4-11ea-8dd8-000d3a38a36f,67,2,318.87,4,2,2,42,potential_loyalists
fffacd34-ae14-11e9-a2fc-000d3a38a36f,257,6,983.92,1,4,4,14,at_risk
fffacecc-ddc3-11e9-a848-000d3a38a36f,132,9,1362.20,3,5,5,35,loyal_customers
fffe4b30-18e0-11ea-9213-000d3a38a36f,321,4,524.69,1,4,3,14,at_risk

In [100]:
#Count of customers at each segment
rfm.groupby('Segment').size()

Segment
about_to_sleep         1643
at_risk                3152
cant_loose             1194
champions              1920
hibernating            3589
loyal_customers        3375
need_attention          806
new_customers           673
potential_loyalists    2925
promising               668
dtype: int64

In [151]:
######### CASE : List all the customers which has segment of 'champions' OR 'loyal_customers' 
#                                                                         AND has order from WOMEN category
#                and extract it as csv.

In [147]:
champs_and_loyals=rfm[rfm['Segment'].isin(['champions','loyal_customers'])]

In [148]:
champs_and_loyals=champs_and_loyals.reset_index(inplace=False)
champs_and_loyals_ids= champs_and_loyals['master_id']
champs_and_loyals

,master_id,Recency,Frequency,Monetary,recency_score,frequency_score,monetary _score,RF Score,Segment
0,00016786-2f5a-11ea-bb80-000d3a38a36f,10,5,776.07,5,4,4,54,champions
1,000c1fe2-a8b7-11ea-8479-000d3a38a36f,27,7,874.16,5,4,4,54,champions
2,000f5e3e-9dde-11ea-80cd-000d3a38a36f,20,7,1620.33,5,4,5,54,champions
3,003903e0-abce-11e9-a2fc-000d3a38a36f,68,5,577.47,4,4,3,44,loyal_customers
4,004bec18-9f7a-11e9-a2fc-000d3a38a36f,99,12,684.91,3,5,4,35,loyal_customers
...,...,...,...,...,...,...,...,...,...
5290,ffdd5eb8-aee9-11e9-a2fc-000d3a38a36f,15,7,1423.36,5,5,5,55,champions
5291,ffe0ab60-6c79-11ea-9ddf-000d3a38a36f,93,11,1441.92,3,5,5,35,loyal_customers
5292,ffe5c7e8-ee12-11e9-9346-000d3a38a36f,75,4,749.84,4,4,4,44,loyal_customers
5293,ffefdd18-77ca-11ea-9b70-000d3a38a36f,74,4,208.46,4,4,1,44,loyal_customers
5294,fffacecc-ddc3-11e9-a848-000d3a38a36f,132,9,1362.20,3,5,5,35,loyal_customers

In [191]:
# Customers which have the master_id on dataset of 'champs_and_loyals' AND have women in interested categories
csv_file=df.loc[df['master_id'].isin(champs_and_loyals_ids)&df['interested_in_categories_12'].str.contains('KADIN')]

In [192]:
# Extract the dataframe as csv file
csv_file.to_csv('champions_loyals_category_women.csv')